body{
    overflow-y: scroll;
}

.list-group-item.correct {
    background: green;
    background-color: green;
    color: white;
}

.list-group-item.incorrect {
    background: red;
    background-color: red;
    color: white;
}